.App {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 20% 20% 20% 20% 20%;
}

@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

.App {
	font-family: 'Maven Pro', sans-serif;
}

.App-header {
	grid-row: 1/2;
}

.content {
	margin-left: 1em;
}
*/ .nav {
	grid-column: 2/5;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-grow: 1;
	margin-left: 1em;
	background-color: rgb(177, 48, 48);
	color: black;
	padding-left: 0;
}
#logo {
	grid-column: 1/2;
	height: 3em;
	object-fit: contain;
	vertical-align: middle;
	display: inline-block;
}

.navItem {
	text-decoration: none;
	color: black;
	font-weight: bold;
	padding: 0.5em;
	transition: 150ms;
}

.navItem:hover {
	transition: 150ms;
	background-color: rgb(255, 255, 255, 0.2);
}
